@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #353434;
  --secondary-color: #c1c2ff;
  --text-color: #fff;
  --main-padding: 1.5rem;
  --border-radius: 0.5rem;
  --light-grey: #bfbfbf;
  --error-color: #ffa1a1;
  --error-text-color: #910000;
  --pending-color: #adf8b3;
  --pending-text-color: #206139;
  --input-color: #353434;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
}

.wrapper {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.wrapper header {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: var(--secondary-color);
  font-weight: 500;
  padding: 16px 15px;
  border-bottom: 1px solid var(--light-grey);
}

.wrapper header ion-icon {
  font-size: 0px;
  margin-right: 8px;
  cursor: pointer;
}

.wrapper.active header ion-icon{
  font-size: 30px;
}

.wrapper .input-part {
  margin: 20px 25px 30px;
}

.wrapper.active .input-part{
  display: none;
}

.wrapper .input-part .info-text {
  display: none;
  font-size: 16px;
  text-align: center;
  padding: 12px 10px;
  border-radius: var(--border-radius);
  margin-bottom: 15px;
}

.info-text.error{
  display: block;
  background-color: var(--error-color);
  color: var(--error-text-color);
}

.info-text.pending{
  display: block;
  background-color: var(--pending-color);
  color: var(--pending-text-color);
}

.wrapper .input-part input{
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 18px;
  width: 100%;
  height: 50px;
  outline: none;
  text-align: center;
  color: var(--input-color);
}

.input-part input:is(:focus, :valid) {
  border: 2px solid var(--primary-color);
}

.wrapper .input-part :where(input, button){
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: var(--text-color);
}

.wrapper .input-part .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.wrapper .input-part .separator::after{
  content: "or";
  padding: 0 15px;
  font-size: 19px;
  color: var(--light-grey);
}

.wrapper .input-part button{
  background: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


/* ######## WEATHER PART ######### */

.wrapper .weather-part{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0 0;
}

.wrapper.active .weather-part{
  display: flex;
}

.weather-part img{
  width: 120px;
}

.weather-part .temp{
  display: flex;
  font-size: 42px;
  font-weight: 500;
  color: var(--text-color);
}

.weather-part .temp .numb{
  font-weight: 600;
}

.weather-part .temp .deg{
  font-weight: 500;
  font-size: 30px;
  margin-left: 4px;
}

.weather-part .weather{
  font-size: 20px;
  text-align: center;
  margin: -5px 20px 15px;
}

.weather-part .location{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.location ion-icon{
  font-size: 21px;
  margin-right: 6px;
}
.weather-part .bottom-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--light-grey);
}

.bottom-details .column{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}

.column ion-icon{
  font-size: 30px;
  color: var(--primary-color);
  margin-right: 6px;
}

.column.humidity{
  border-left: 1px solid var(--light-grey);
}

.details .temp, .humidity span{
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
  color: var(--text-color);
}

.details .temp .deg{
  font-size: 19px;
  margin: 0;
  padding: 0 2px 1px;
}

.details p{
  font-size: 16px;
  color: var(--text-color);
  margin-top: -6px;
  padding: 0;
}