/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #495af7;
  --secondary-color: #fff;
  --text-color: #fff;
  --input-color: #000;
  --light-gery: #f5f5f5;
  --pending-color: #b7e4ec;
  --pending-text-color: #0c6047;
  --error-color: #ffc1c5;
  --error-text-color: #631920;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--primary-color);
  color: var(--text-color);
}
::selection {
  color: #fff;
  background: var(--primary-color);
}
.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.wrapper header {
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: var(--text-color);
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header i {
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
}
.wrapper.active header i {
  margin-left: 5px;
  font-size: 30px;
}
.wrapper .input-part {
  margin: 20px 25px 30px;
}
.wrapper.active .input-part {
  display: none;
}
.input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part .info-txt.error {
  color: var(--error-text-color);
  display: block;
  background: var(--error-color);
  border: 1px solid #f5c6cb;
}
.input-part .info-txt.pending {
  color: var(--pending-text-color);
  display: block;
  background: var(--pending-color);
  border: 1px solid #bee5eb;
}
.input-part :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.input-part input {
  text-align: center;
  padding: 0 15px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid var(--primary-color);
}
.input-part input::placeholder {
  color: rgb(24, 24, 24) !important;
}
.input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before {
  content: "or";
  color: var(--light-gery);
  font-size: 19px;
  padding: 0 15px;
  border-radius: 20px;
}
.input-part button {
  color: var(--text-color);
  cursor: pointer;
  background: var(--primary-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: 0.3s ease;
}
.input-part button:hover {
  transform: scale(1.03);
}

.wrapper .weather-part {
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part {
  display: flex;
}
.weather-part img {
  max-width: 125px;
}
.weather-part .temp {
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb {
  font-weight: 600;
}
.weather-part .temp .deg {
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location {
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i {
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column {
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column i {
  color: var(--secondary-color);
  font-size: 40px;
}
.column.humidity {
  border-left: 1px solid #ccc;
}
.column .details {
  margin-left: 3px;
}
.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p {
  font-size: 14px;
  margin-top: -6px;
}
.humidity i {
  font-size: 37px;
}

/* COLOR PALETTE */
/* COLOR PICKER */

.color-palette {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  padding: 8px;
  text-align: center;
}

.color-palette .theme-color {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.color-palette .theme-color:not(:last-child) {
  margin-bottom: 10px;
}

/* drak mode palette */

.dark-mode {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50%;
  padding: 8px 13px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dark-mode span{
  font-size: 20px;
  cursor: pointer;
}

/* COPYRIGHT */

.copyright{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}

.copyright p a{
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

/* Media Queries */
@media only screen and (max-width: 436px) {
  .wrapper {
    max-width: 90%;
    min-width: 90%;
  }

  .color-palette {
    max-width: 90%;
    min-width: 90%;
  }

  .color-palette .theme-color {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (max-width: 636px) {
  .color-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 400px;
    margin-bottom: 16px;
  }

  .color-palette .theme-color {
    margin-top: 10px;
  }

  .color-palette .theme-color:not(:last-child) {
    margin-right: 10px;
  }
}
