@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #5e61ff;
  --secondary-color: #c1c2ff;
  --text-color: #333;
  --main-padding: 1.5rem;
  --border-radius: 0.5rem;
  --light-grey: #bfbfbf;
  --error-color: #ffa1a1;
  --error-text-color: #910000;
  --pending-color: #adf8b3;
  --pending-text-color: #206139;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
}

.wrapper {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  border-radius: var(--border-radius);
}

.wrapper header {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: var(--secondary-color);
  font-weight: 500;
  padding: 16px 15px;
  border-bottom: 1px solid var(--light-grey);
}

.wrapper header ion-icon {
  font-size: 30px;
  margin-right: 8px;
  cursor: pointer;
}

.wrapper .input-part {
  margin: 20px 25px 30px;
}

.wrapper .input-part .info-text {
  display: none;
  font-size: 16px;
  text-align: center;
  padding: 12px 10px;
  border-radius: var(--border-radius);
  margin-bottom: 15px;
}

.info-text.error{
  background-color: var(--error-color);
  color: var(--error-text-color);
}

.info-text.pending{
  background-color: var(--pending-color);
  color: var(--pending-text-color);
}

.wrapper .input-part input{
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 18px;
  width: 100%;
  height: 50px;
  outline: none;
  text-align: center;
  color: var(--text-color);
}

.input-part input:is(:focus, :valid) {
  border: 2px solid var(--primary-color);
}

.wrapper .input-part :where(input, button){
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: var(--text-color);
}

.wrapper .input-part .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.wrapper .input-part .separator::after{
  content: "or";
  padding: 0 15px;
  font-size: 19px;
  color: var(--light-grey);
}

.wrapper .input-part button{
  background: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
